<div id="<%= dom_id result %>">
  <p>
    <strong>Player:</strong>
    <%= result.player_id %>
  </p>

  <p>
    <strong>Tournament:</strong>
    <%= result.tournament_id %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= result.round %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= result.points %>
  </p>

</div>
