<%= form_with(model: player, local: true, html: { class: "needs-validation" }) do |form| %>
  <% if player.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        <%= pluralize(player.errors.count, "エラー") %>により登録できませんでした:
      </h4>
      <ul class="mb-0">
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label "名前", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label "国", class: "form-label" %>
    <%= form.text_field :country, class: "form-control", required: true %>
  </div>

  <%= form.submit "登録する", class: "btn btn-primary" %>
<% end %>
