<!DOCTYPE html>
<html>
  <head>
    <title>BwfRanking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav>
      <%= link_to "選手一覧", players_path %> |
      <%= link_to "大会一覧", tournaments_path %> |
      <%= link_to "試合結果一覧", results_path %> |
    </nav>
    <%= yield %>
  </body>
</html>
